<link rel="stylesheet" href="./cinepolis.component.css">

<body>
    
    <h1 class="titulo">Cinepolis</h1>

    <div class="entradas">
        
        <table>
            
            <tr>
                
                <td>   
                    Nombre
                </td>
                
                <td>
                    <input type="text" name="" id="">
                </td>
            
            </tr>
            
            <tr>
            
                <td>
                    Cantidad Compradores
                </td>
                
                <td>
                    <input type="text" name="" id="">
                </td>

            </tr>
            
            <tr>
                <td>
                    Tarjeta Cineco
                </td>
                
                <table>
                
                    <td>
                        <input type="radio" name="" id="">
                    </td>

                    <td>
                        Si
                    </td>

                    <td>
                        <input type="radio" name="" id="">
                    </td>
                    
                    <td>
                        No
                    </td>
                
                </table>

            </tr>
            
            <tr>
                <td>
                    Cantidad De Boletas
                </td>
                
                <td>
                    <input type="text" name="" id="">
                </td>
            </tr>
        
        </table>
    
    </div>

    <div class="salidas">
        <table>

            <tr>
    
                <td>
                    Voler a Pagar
                </td>
                
                <td>
                    <input type="text" name="" id="">
                </td>
    
            </tr>

        </table>

    </div>

    <div class="acciones">

        <table>

            <td>
                <button>Procesar</button>
            </td>

            <td>
                <button>Salir</button>
            </td>

        </table>
    </div>

</body>
